body {
    margin: 0;
}

.text {
    padding: 40px 0; 
    font-size: 1.1875rem;
    line-height: 1.8125rem;
}

.wrap {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 15px;
}

header {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #ddd;
}

.logo {
    margin: 0 auto;
    width: 220px;
}

.article-img img{
    max-width: 100%;
}

.article-side {
    margin: 0 auto;
    max-width: 600px;
    margin-bottom: 1em;
}

.author {
    font-weight: 700;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
    font-size: 0.9375rem;
    line-height: 1.25rem;
}

.date {
    margin: 0;
    float: left;
    color: #333;
    font-weight: 500;
}

.icons {
    float: right;
}

.icons i {
    margin-left: 10px;
}


article p {
    clear: both;
}

#sidebar {
    display: none;
}

@media (min-width: 1150px){

    #sidebar {
        display: block;
        position: relative;
        margin-right: -200px;
        margin-left: auto;
        width: 180px;
    }
}

#sidebar ul li img {
    width: 50px;
}
