body {
    margin: 0;
}

/*float right and left*/
.right {
    float: right;
}

.left {
    float: left;
}

.wrap {
    margin: 0 auto;
    max-width: 1150px;
    padding: 20px;
}

/*header*/
header {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

header a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
}

.nav {
    margin: 0 10px;
}

.logo {
    width: auto;
    height: 28px;
    vertical-align: bottom;
}

header button {
    color: white;
    background-color: #6288a5;
    border: 1px solid #326891;
    font-weight: bold;
    padding: 3px 9px;
}

/*************  Main div **************/

figure {
    margin: 0;
}

figure img {
    width: 100%;
}

article {
    position: relative;
}

article h1 {
    margin: 20px auto;
    max-width: 600px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.author {
    font-weight: 700;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9375rem;
    line-height: 1.25rem;
}

.date {
    margin: 0;
    float: left;
    color: #333;
    font-weight: 500;
}

.icons {
    float: right;
    margin-bottom: 30px;
}

.icons i {
    margin-left: 10px;
}

article p {
    clear: both;
}

.article-side {
    margin: 0 auto;
    max-width: 600px;
    font-size: 1.1875rem;
    line-height: 1.8125rem;
}


/********** Sidebar *********/

#sidebar {
    display: none;
}

#sidebar ul {
    padding: 0;
    list-style: none;
}

#sidebar li {
    overflow: hidden;
    margin-bottom: 20px;
}

#sidebar li a {
    display: block;
    text-decoration: none;
    font: 12px sans-serif;
    color: #000000;
}

#sidebar img {
    float: left;
    width: 80px;
    margin-right: 10px;
}

@media (min-width: 1050px){
    #sidebar {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: 190px;
    }
}

#sidebar ul li img {
    width: 50px;
}


/***** Footer ****/

footer {
    clear: both;
    text-align: center;
}